/* general styles */
:root {
  --bg-color: #24353f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}

nav {
  background-color: var(--bg-color);
}
